<form class="form-signin">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <img
          style="margin-left: 70px;"
          class="mb-4"
          src="../../../assets/img/login.png"
          alt=""
          width="72"
          height="72"
        />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <button
          class="btn btn-lg btn-primary btn-block"
          type="button"
          (click)="login()"
        >
          Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
      </div>
    </div>
  </div>
</form>
